<div class="jumbotron">
  <h1 class="display-4">Welcome, farmers!</h1>
  <p class="lead">This is a simple site to allow farmers to unite. We have provided a platofrm that will allow farmers from all over the United States to trade produce, discuss new trends and tech related to farming and talk economics.</p>
  <hr class="my-4">
  <p>Not a member yet? click the button bellow and follow our eay step, by step tutorial to become a member of our community today!!</p>
  <a class="btn btn-primary btn-lg" href="/sign-up" role="button">Sign Up!</a>
</div>
<form action="/" method="post">
  <input type="text" name="username" id="username" placeholder="Username">
  <input type="password" name="password" id="password" placeholder="Password">
  <input type="submit" value="Login">
</form>