<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Home Page</h1>
    <p class="lead">Welcome! Hope that you're having a wonderful day today <%= @user.username %>.</p>
  </div>
</div>