<h1>SIGN UP PAGE</h1>

<form action="/sign-up" method="post">
  <input type="text" name="username" id="username" placeholder="Username/Email">
  <input type="text" name="firstname" id="firstname" placeholder="First Name">
  <input type="password" name="password" id="password" placeholder="Password">
  <input type="date" name="birthday" id="birthday" placeholder="Birthday">
  <input type="submit" value="Sign-Up">
</form>